.box1{
    width: 500px;
    height: 500px;
    background: gray;
    position: relative;
    left: 50px;
    top: -20px;
    opacity: 0.5;
}

/* position은 무조건 독립적으로 움직이기 때문에 다른 태그들 위치에 영향을 주지 않는다. 그래서 오남용 하면 안된다. */
/* position: relative는 위치이동보다는 기준영역으로 많이 쓴다. */

.box2{
    width: 100px;
    height: 100px;
    background: pink;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
}
/* position: absolute를 하게 되면 팝업처럼 플로팅이 된다. 그래서 뒤에 다른 태그들의 콘텐츠들이 올 수 있다. */

.box3{
    background: orange;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
/* position이 적용되어 있는 부모태그를 기준으로 배치가 된다. 부모-증조-고조 등 조상태그들에게도 position이 적용되어 있지 않다면 position이 기본적으로 적용되어 있는 body태그가 기준영역이 된다.  */
/* top, bottom, left, right는 무조건 position이 적용되어 있어야 유효하다. */
/* [외워] 공중에 뜨면 콘텐츠가 인식이 안된다. >> position: relative가 설정되어 있는 부모태그에 높이가 없으면 포함하는 자식이 position: absolute일 경우 공중에 떠버리니까 콘텐츠로 인식이 안되서 높이가 0이 된다. (없는 자식 취급하세요) */

.a{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 0;
}
/* 나중에 만든 태그가 위쪽에 쌓여서 배치된다. 그래서 z-index는 position이 적용되어 있어야 유효하다.*/

.box4{
    background: green;
    position: fixed;
    right: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}
/* display속성이 자동으로 인라인블록으로 바껴서 포함하는 콘텐츠만큼의 너비를 갖게되고 너비높이를 지정할 수 있다. */