html{
    font-size: 20px;
    font-weight: 400;
    font-family: "Pretendard", sans-serif;
}
header{
    background-color: white;
    width: 100%;
    max-height: 100px;
    position: fixed;
    transition: all 1s ease 0s;
    overflow: hidden;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    gap: 3.3rem;
}
.gnb>li{
    transition: all 1s ease 0s;
    margin-bottom: 1rem;
}
.gnb>li>a{
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
header:hover{
    max-height: 300px;
}
.gnb2>li>a{
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb2 li{
    margin-bottom: 1rem;
}
.banner{
    height: 800px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
}
.banner h1{
    color: white;
    font-size: 140px;
    line-height: 100%;
    text-transform: uppercase;
}