.a{
    border: 1px solid red;
    max-width: 800px;
    min-width: 300px;
}
/* width의 구간을 설정한 거지 width 자체를 설정한게 아님 width는 최소~최대 구간 안에서 auto로 적용되고 있는 것임 */
p span{
    border: 5px solid blue;
    display: inline-block;
    min-width: 200px;
}
.b{
    border: 5px solid orange;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
}
.c{
    border: 5px solid green;
    width: 10vw;
    /* vw -> viewport-width (화면너비)의 약자로 화면너비의 10%의 크기를 뜻함 */
    height: 10vh;
    /* vh -> viewport-height (화면높이)의 약자로 화면너비의 10%의 크기를 뜻함 */
    margin-top: 100vh;
    overflow: hidden;
}
.d{
    border: 5px solid pink;
    width: 600px;
    min-height: 600px;
}
.f{
    border: 5px solid red;
    width: 50%;
    height: 50%;
    /* 부모태그의 width는 설정해두었기때문에 50%값인 300px로 계산되지만 heigth는 설정해두지 않았기 때문에 auto로 적용되어 있고 따라서 50%값이 계산되지 않는다. */
}