@charset "utf-8";
/* 예전에는 브라우저가 한글을 해석하지 못하는 경우가 있었음
요즘에는 utf-8가 기본적으로 다 설치가 되어 있기 때문에 쓸 필요가 없지만
혹시 모를 것을 대비해서 시험에서는 써 줌 */

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: inherit;
    color: inherit;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
html{
    background-color: #fff;
    color: #333;
}
.modal{
    display: none;
}
.popup{
    display: none;
}
header{
    border: 1px solid red;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}
.gnb{
    display: flex;
    margin-top: 50px;
}
.gnb>li{
    border: 1px solid green;
}
.gnb a{
    border: 1px solid blue;
    display: flex;
    height: 50px;
    width: 180px;
    align-items: center;
}