:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
    --base-wide1:22px;
}

html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
header{
    border-bottom: 2px solid #be0707;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
/* common-frame 클래명을 가지면 무조건 flex 되어버리니까 필요한 부분만 flex가 되도록 따로 선택해서 flex 주는게 좋음 */
.gnb{
    display: flex;
    /* align-items: center; */
}
.gnb li{
    /* padding: 0 1rem; */
}
.gnb li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
/* a태그는 인라인레벨태그이기 때문에 height: 100% 만 하면 적용 안됨 -> a태그의 자식은 텍스트임으로 a태그에 flex 해주면 flex-items는 텍스트가 되는 것임*/
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: white;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width:5120px){}
@media (max-width:3840px){
    html{
        font-size: var(--base-wide1);
    }
}
@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}
@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
    .banner {
        height: 600px;
    }
    .banner h1 {
        font-size: 4.4rem;
    }
}
@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
}
