:root{
    --base-pc: 20px;
    --base-pad: 18px;
    --base-mo: 14px;
    --base-wide1: 22px
}

.stp1{
    font-family: "aboreto";
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
    padding-top: 6rem;
}
/* 자식태그한테 margin-top 주게 되면 부모태그를 밀어낼 공간이 없을 경우 위로 자식태그의 콘텐츠가 위로 배치가 되기때문에 margin-top은 주지 말기 */
.banner{
    height: 599px;
    border-radius: 2.5rem;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.common-frame h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-top: 6rem;
}
.desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin: 2.4rem 0;
}
.gallery{
    display: flex;
    gap: 1rem;
}
.gallery figure{
    flex: 1;
    aspect-ratio: 520/434;
    line-height: 0%;
}
.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.common-frame h3{
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
}
.common-frame .desc2{
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.gallery.type2 figure{
    aspect-ratio: 790/434;
}
/* 패턴이 동일한테 일부만 스타일을 바꾸고 싶을 때 많이 씀! html 태그를 그대로 복사해서 가지고 와서 클래스명을 하나 더 추가해주면 됨, css에 와서는 수정하고 싶은 패턴의 일부 코드만 가져와서 해당 속성값만 변경해주면 되는 것임 >> 내가 했던 것처럼 클래스명을 각각 주고 코드를 전부 다시 쓸 필요가 없는 것!*/
.wrap{
    background: url(../img/bg.png) no-repeat 50% 0% / 100% auto;
}

html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}




@media (max-width:3840px){
    html{
        font-size: var(--base-wide1);
    }
}

@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}

@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
    .common-frame h2 {
        font-size: 4.4rem;
    }
    .gallery figure {
        aspect-ratio: 1/1;
    }
    .gallery.type2 figure {
        aspect-ratio: 1/1;
    }
}

@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame {
        width: auto;
        margin: 0 1rem;
    }
    .common-frame h2 {
        font-size: 3.5rem;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .gallery figure {
        aspect-ratio: 175/150;
    }
    .gallery figure.grid2fr{
        grid-column: 1/3;
        aspect-ratio: 365/150;
    }
    /* .gallery>figure:nth-of-type(3){grid-column: 1/3;} 
    >> 이렇게 순번을 써도 되는데 실무에서는 일일이 순번을 기억하기 힘들기 때문에 html 태그에 class명을 주는게 더 나음*/
    .gallery.type2{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery.type2 figure{
        aspect-ratio: 365/150;
    }
    .wrap {
        background: url(../img/bg.png) no-repeat 50% 40% / 100% auto;
    }
}
 