html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
} 
/* 설정된 폰트가 적용안될경우의 대체폰트 써주기 */
.inner-frame{
    width: 1440px;
    margin: 0 auto;
    margin-top: 3.75rem;
    text-align: center;
}
.inner-frame h1{
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 100%;
    padding: 1rem 0;
}
/* 글씨크기,패딩,마진은 rem단위로 써주는게 좋음 -> 반응형 만들때나 글씨크기를 작게/크게 설정하는 버튼같은 거 만들때 좋음. 같이 비율에 맞게 설정되니깐. */
.desc{
    margin-bottom: 5rem;
    line-height: 140%;
}
.banner{
    height: 441px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 5rem;
}
.inner-frame h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    padding: .5rem 0;
    margin-bottom: 1rem;
}
/* 0.5rem 처럼 정수부분이 0인 경우 생략 가능. line-height가 100%인경우는 1이라고 써도 됨 */
.values {
    margin-bottom: .5rem;
}
.values li:last-of-type{
    margin-bottom: 0;
}