@media (max-width: 1024px){
    html{
        font-size: var(--base-pad);
    }
    .inner-frame {
        width: auto;
        margin: 0 2rem;
        margin-top: 3.75rem;
    }
}

/* 바꾸려는 것만 선택해서 바꿔주면 됨 */