*{
    margin: 0;
    padding: 0;
}
/* 수치가 0px 인 경우엔 단위 생략 가능 */
#daum-container{
    border: 1px solid red;
    width: 1180px;
    height: 500px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}
#youtube-container{
    border: 1px solid green;
    width: auto;
    height: 500px;
    margin:0 40px;
}

/* 무조건 테두리부터 만들고 시작하는 습관을 들이세요 */
