*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
}
.tab-menu{
    width: 800px;
    margin: 2rem auto;
}
.tabs{
    display: flex;
    gap: 1rem;
}
.tabs span{
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    border-radius: 1rem;
    padding: .2rem 1.5rem;
    cursor: pointer;
}
.tabs span:hover{
    background-color: black;
    color: white;
}
.tabs span.active{
    background-color: black;
    color: white;
}
.tab-descriptions{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.tab-descriptions section{
    /* display: none; */
    flex: 0;
    opacity: 0.2;
    height: 300px;
    overflow: hidden;
    border:1px solid #000;
    padding:1rem;
    transition:all 1s ease 0s
}
.tab-descriptions section.active{
    /* display: block; */
    flex: 1;
    opacity: 1;
}


/* ---------------------------- */

.color-tab{
    margin: 3rem auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-tabs{
    display: flex;
    gap: 1.2rem;
}
.color-tabs>span{
    /* border: 1px solid  black; */
    padding: .2rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 1rem;
    background:
    linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #6a11cb, #2575fc) border-box;
}
.color-tabs>span:hover{
    color: white;
    background:
    linear-gradient(45deg, #6a11cb, #2575fc) padding-box,
    linear-gradient(45deg, #6a11cb, #2575fc) border-box;
}
.color-tabs>span.active{
    color: white;
    background:
    linear-gradient(45deg, #6a11cb, #2575fc) padding-box,
    linear-gradient(45deg, #6a11cb, #2575fc) border-box;
}
.color-chips{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
}
.color-chips>div{
    width: 100px;
    height: 100px;
    display: none;
}
.color-chips>div.active{
    display: block;
}
.color-chip1{
    background-color: black;
}
.color-chip2{
    background-color: skyblue;
}
.color-chip3{
    background-color: purple;
}


