*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: inherit; color: inherit;}
img{max-width: 100%;}

html{
    font-size: 20px;
    line-height: 160%;
}
.wrap{
    margin: 0 4rem;
    padding: 3rem 0;
}
.wrap h1{
    margin-bottom: 1rem;
    text-align: center;
}
.wrap h1+p{
    margin-bottom: 2rem;
    text-align: center;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem 1rem;
}
.grid-box figure{
    aspect-ratio: 1/1;
    overflow: hidden;
}
.grid-box figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    transition: all .5s ease 0s;
}
.grid-box figure img:hover{
    filter: brightness(1);
    transform: scale(1.2);
}
.grid-box h2{
    margin: 1rem 0;
}
.grid-box dl{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem 1rem;
}
.grid-box dt{
    font-weight: 700;
}
.grid-box li{
    border: 1px solid black;
    padding: 1rem;
    padding-bottom: 2rem;
}