.aboreto {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
}
body{
    background: url(../img/BACKGROUND.png) no-repeat 50% 50% / contain;
}
.banner{
    height: 599px;
    border-radius: 0px 0px 150px 150px;
    background: url(../img/banner.png) no-repeat 50% 75% / cover;
}
.banner h1{
    color: white;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 270px;
}
main{
    width: 1600px;
    margin: 0 auto;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.title h2{
    height: 168px;
    background: url(../img/deco.svg) no-repeat 50% 50% / contain;
}
/* 예제 디자인의 도트패턴은 body태그나 wrap에 배경으로 넣어주면 됨 */
.title h3{
    font-size: 7.5rem;
    line-height: 90%;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
}

.title span{
    color: #770000;
}
figure{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: 20px;
}
figure img{
    width: 790px;
    height: 434px;
    object-fit: cover;
    border-radius: 20px;
}
.para h4{
    font-size: 2rem;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.para h4 span{
    color: #770000;
}
.para p{
    line-height: 140%;
}
.para p:nth-of-type(1){
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.para p:nth-of-type(2){
    margin-bottom: 0.5rem;
    text-transform: lowercase;
}