html{
    font-size: 20px;
    font-weight: 400;
    font-family: "Prentendard", sans-serif;
}
header{
    height: 100px;
}
.inner-header{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
}
.gnb>li{
    background-color: white;
    width: 200px;
    padding: 0 .5rem .5rem .5rem;
    box-sizing: border-box;
    border-radius: 0 0 6px 5px;
    overflow: hidden;
    max-height: 100px;
    transition: all 0.6s ease 0s;
    z-index: 1;
}
.gnb>li:hover{
    max-height: 500px;
}
.gnb>li>a{
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul>li{
    margin-bottom: 1rem;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}
.gnb ul>li:last-of-type{
    margin-bottom: 0;
}
.banner{
    height: 800px;
    position: relative;
}
.banner video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner div{
    width: 1600px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
.banner h1{
    color: white;
    font-size: 7rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.banner p{
    color: white;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}