@media (max-width: 1024px){
    html{
        font-size: var(--base-pad);
    }
    .content {
        width: auto;
        margin: 0 2rem;
    }
    .content h2 {
        font-size: 3.3rem;
    }
    .content figure img {
        width: 100%;
        height: 352px;
    }
}