html{font-size: 30px;}
h1,h2,h3,h4,h5,h6{font-size: inherit;}
.box{font-size: 50px;}
.box h1{font-size: 2em;}
.box h2{font-size: 2rem;}
.ex1{font-weight: 600;}
.ex2{line-height: 1.2;}
.ex2-2{font-size: 20px; line-height: 1.8;}
.ex3{font-style: italic;}
address{font-style: normal;}
.ex4{letter-spacing: 30px;}
.ex5{word-spacing: 2rem;}
/* .ex5{word-spacing: initial;} */
.ex6{
    /* white-space: nowrap;
    white-space: pre; */
    white-space: pre-wrap;
}
.ex7{text-indent: 1rem;}
.ex8{
    /* text-decoration: underline; */
    text-decoration: line-through;
}
a{text-decoration: none;}
.ex9{
    border: 1px solid red;
    padding: 10px;
    /* text-align: left; */
    /* text-align: right;
    text-align: center; */
    text-align: justify;
    /* word-break: keep-all; */
    word-break: break-all;
}
.ex10{
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;
}
.ex11 b{
    font-weight: 900;
    font-size: 0.5rem;
    /* vertical-align: top; */
    /* vertical-align: bottom; */
    vertical-align: middle;
}

@font-face {
    font-family: "케듀";
    src: url(../font/KERISKEDU_R.otf);
    font-weight: 400;
}
@font-face {
    font-family: "케듀";
    src: url(../font/KERISKEDU_B.otf);
    font-weight: 700;
}
@font-face {
    font-family: "케듀라인";
    src: url(../font/KERISKEDU_Line.otf);
}
.kedu{
    font-family: "케듀";
    font-weight: 400;
}
.kedu-b{
    font-family: "케듀";
    font-weight: 700;
}
.kedu-l{
    font-family: "케듀라인";
}

@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.on{
    font-family: 'OngleipParkDahyeon';
}

.pac{
    font-family: "Pacifico", cursive;
}
.zen{
    font-family: "Zen Kaku Gothic New", sans-serif;
}