:root{
    --base-pc: 20px;
    --base-pad: 18px;
    --base-mo: 14px;
    --base-wide1: 22px
}


html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
.title{
    padding-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.stp1{
    font-family: "aboreto";
}
.title+p{
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
}
.banner{
    height: 700px;
    margin-top: 5rem;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner h2{
    flex-basis: 1600px;
    color: white;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    text-align: left;
} 
.title2{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.title2+p{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.gallery{
    display: flex;
    gap: 1rem;
}
.gallery>li{
    flex: 1;
}
.gallery figure{
    aspect-ratio: 1/1;
    line-height: 0%;
    margin-bottom: 1rem;
}
.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.gallery h4{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.gallery h4+p{
    line-height: 140%;
    display: -webkit-box;                 
    -webkit-box-orient: vertical;         
    -webkit-line-clamp: 2;                
    overflow: hidden;                     
    text-overflow: ellipsis; 
}


@media (max-width:3840px){
    html{
        font-size: var(--base-wide1);
    }
}

@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}

@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .banner {
        height: 600px;
    }
    .banner h2 {
        flex-basis: auto;
        margin: 0 2rem;
        font-size: 4.4rem;
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
}

@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame {
        margin: 0 1rem;
    }
    .banner {
        height: 500px;
        align-items: center;
    }
    .banner h2 {
        margin: 0 1rem;
        padding-top: 0;
        text-align: center;
        font-size: 3.5rem;
    }
    .gallery {
        display: grid;
        gap: 2rem;
    }
}