html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
}
.stp1{
    font-family: "aboreto";
}
.title{
    width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 8rem;
    margin-bottom: 5rem;
}
.title h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.title p{
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner h2{
    color: #fff;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.inner-frame{
    width: 1604px;
    text-align: center;
    margin: 0 auto;
}
.inner-frame h3{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
} 
.desc1{
    line-height: 140%;
    margin-bottom: 3.5rem;
}
.menu{
    display: flex;
    gap: 1rem;
}
.menu li{
    flex: 1;
}
.menu li figure{
    aspect-ratio: 521/520;
}
.menu li figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.menu li h4{
    text-align: left;
    font-weight: 700;
    margin: 1rem 0 .5rem 0;
}
.menu li p{
    text-align: left;
    line-height: 140%;
    letter-spacing: 0%;
    display: -webkit-box;                 
    -webkit-box-orient: vertical;         
    -webkit-line-clamp: 2;                
    overflow: hidden;                     
    text-overflow: ellipsis; 
}