.a{
    border: 10px solid red;
    width: 300px;
    height: 100px;
    /* overflow: visible; */
    /* overflow: hidden;*/
    /* overflow-y: scroll; */
    overflow: auto;
}
.b{
    border: 10px solid blue;
    white-space: nowrap;
    overflow-x: scroll;
}
.c{
    border: 10px solid black;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 외우지말고 복사해서 쓰세요. */
.d{
    border: 10px solid green;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: red;
}
::-webkit-scrollbar-track{
    background: aqua;
}
/* -webkit 이라는 수식어(벤더프리픽스)는 비표준 속성이라는 뜻임 -> 크롬,사파리, 파이어폭스 등 webkit 계열의 브라우저에서 해석되도록 붙이는 것 (-ms, -o 등도 동일한 개념)*/

.e{
    border: 10px solid coral;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}
.e::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}
.e::-webkit-scrollbar-thumb{
    background: goldenrod;
    border-radius: 7px;
}
.e::-webkit-scrollbar-track{
    background: darkcyan;
}
/* border-radius값은 반지름이 7px인 정원의 곡률만큼의 값이다. 스크롤바의 너비가 14px이므로 radius값의 최대는 7px이다. */