.box{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: 200px auto;
    transition: all 1s ease 0s;
}
.a{
    background-color: red;
}
.a:hover{
    transform: translateX(-50%);
}
.b{
    background-color: blue;
}
.b:hover{
    transform: translateY(-50%);
}
.c{
    background-color: orange;
}
.c:hover{
    transform: 
    translateY(-100px)
    translateX(100px);
}
.parent{
    background-color: #eee;
    height: 700px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
.d{
    background-color: green;
}
.parent:hover .d{
    transform: translateZ(500px);
}
.e{
    background-color: coral;
    transform-origin: 50% 50%;
}
.e:hover{
    transform: rotate(360deg);
}
.f{
    background-color: darkgoldenrod;
}
.f:hover{
    transform: rotateX(180deg);
}
.g{
    background-color: salmon;
}
.g:hover{
    transform: rotateY(180deg);
}
.h{
    background-color: darkcyan;
}
.h:hover{
    transform: scaleX(200%);
}
.i{
    background-color: chocolate;
}
.i:hover{
    transform: scaleY(2);
}
/* 100% = 1,  200% = 2, 265% = 26.5 ...*/
.j{
    background-color: hotpink;
}
.j:hover{
    transform: scale(0.7);
}
/* scale 기본값은 1인데 0.7이라면 원래 크기의 70%만큼 작아진다는 뜻*/
.k{
    background-color: gold;
}
.k:hover{
    transform: skewX(30deg);
}
.l{
    background-color: violet;
}
.l:hover{
    transform: skewY(-30deg);
}

.banner{
    height: 600px;
    background-color: pink;
    position: relative;
}
.banner div{
    border: 1px solid red;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
/* 비디오태그가 배너의 공간을 가득 채우고 있는 상황이라면 이미지를 백그라운드로 넣는 것처럼 텍스트를 비디오 위에 배치할 수 없다. 그래서 position + transform을 사용하여 중앙에 배치한다. left: 50% -> 기준영역의 가로축의 절반만큼 이동, transform: translateX(-50%) -> 자신이 가진 너비의 50%만큼 가로축 방향으로 이동 // top: 50% -> 기준영역의 세로축의 절반만큼 이동, translateY(-50%) -> 자신이 가진 높이의 50%만큼 세로축 방향으로 이동 >> !!축약형 외우세요!! : transform: translate(-50%,-50%) */