*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: gray;
    width: 800px;
    height: 300px;
    display: flex;
}
.box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-1 div{
    width: 200px;
    height: 100px;
}
.box-2{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2 div{
    width: 100px;
    height: 100px;
}
.box-3{
    width: 200px;
}


div .a{
    background-color: red;
}
div .b{
    background-color: green;  
}
div .c{
    background-color: blue;
}
div .d{
    background-color: gold;
}
div .e{
    background-color: pink;
}




