*{
    margin: 0;
    padding: 0;
}

.wrap{
    background-color: gray;
    width: 800px;
    height: 100px;
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
}
.wrap div{
    width: 100px;
    padding: 10px;
    box-sizing: border-box;   
}
.a{
    background-color: red;
    /* width: 100px;   */
}
.b{
    background-color: green;  
    /* width: 100px;   */
}
.c{
    background-color: blue;
    /* width: 100px;   */
}
.d{
    background-color: gold;
    /* width: 100px;   */
}
.e{
    background-color: pink;
    /* width: 100px;   */
}