*{
    margin: 0;
    padding: 0;
}

.wrap{
    background-color: gray;
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap div{
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;   
}
.wrap .a{
    background-color: red;
}
.wrap .b{
    background-color: green;  
}
.wrap .c{
    background-color: blue;
}
.wrap .d{
    background-color: gold;
}
.wrap .e{
    background-color: pink;
}