*{margin: 0;padding: 0;}

.a{background-color: orange;}
.b{background-color: skyblue;}
.c{background-color: green;}
.d{background-color: pink;}

.box{
    border: 10px solid red;
    display: flex;
    width: 400px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}
.box section{
    /* flex-shrink: 1; */
    flex-basis: 200px;
    /* width: 200px 과 동일함 */
}
.box section:nth-of-type(2){
    flex-shrink: 2;
}

/* 줄어들어야 하는 환경에 놓여졌을 때, 즉 줄바꿈을 허용되지 않을 때 flex-shrink: 1 이 기본적으로 설정되며 item들이 1:1비율로 줄어들게 된다. */
/* 줄바꿈이 허용되면 flex-shirink: 0 으로 설정된다. */

.box2{
    border: 10px solid blue;
    width: 800px;
    margin: 0 auto;
    display: flex;
}
.box2 section{
    /* flex-grow: 1; */
    /* flex-basis: 100px; */
    flex: 1;
    /* -> flex-basis: 0%, flex-grow: 1, flex-shirink: 1 의 축약형임 */

}
.box2 .a{
    /* flex-grow: 2; */
}

/* flex-grow: 1 를 한다는 것은 너비가 1:1:1:1의 크기로 되는 것이 아니라 원래 점유하고 있던 너비에 1:1:1:1비율의 너비를 추가로 갖는다는 의미임 */
/* flex-grow의 기본값은 0이다. */
/* .a 라고 클래스명만 선택해서 스타일 적용하면 적용 안됨 <- 우선순위에서 밀리니깐 */