.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  perspective: 1000px;
}

.carousel {
  border: 1px solid green;
  position: relative;
  width: 200px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

button {
  position: relative;
  z-index: 10;
  margin-top: 20px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: skyblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}