html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
header{
    position: fixed;
    left: 160px;
    top: 0;
}
.common-frame-1{
    width: 1600px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}
.common-frame-1 ul{
    display: flex;
    justify-content: flex-end;
}
nav{ 
    width: 966px;
    height: 100px;
    color: white;
}
.inb{
    font-size: 0.8rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.gnb{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.inb li{
    height: 30px;
}
.gnb li{
    height: 70px;
}
ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    width: 1600px;
    color: white;
    font-family: Aboreto;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}
.common-frame-2{
    width: 1600px;
    margin: 0 auto;
}
h2{
    font-family: Aboreto;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 1rem;
}
p{
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.common-frame-2 img{
    width: 100%;
    height: 441px;
    object-fit: cover;
}