html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
header{
    width: 100vw;
    border-bottom: 2px solid red;
    position: fixed;
}
.common-frame-1{
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav{
    width: 966px;
    height: 100px;
    color: white;
}
nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.lnb{
    height: 30px;
    font-size: .8rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.gnb{
    height: 70px;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.gnb li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.lnb li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
}
.banner{
    height: 100vh;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    width: 1600px;
    color: white;
    font-family: Aboreto;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}
.common-frame-2{
    width: 1600px;
    margin: 0 auto;
}
.common-frame-2 h2{
    font-family: Aboreto;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6rem;
}
.common-frame-2 p{
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.common-frame-2 figure img{
    width: 1600px;
    height: 441px;
    object-fit: cover;
}