html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
header{
    border-bottom: 2px solid #BE0707;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* 여기서 100vw는 안쓰는게 좋음 -> body콘텐츠가 늘어나면 사이드에 스크롤바가 생길텐데 그 스크롤바를 제외한 너비가 100%, 스크롤바 포함한 너비가 100vw가 됨 -> 100vw를 쓰면 스크롤바때문에 가로방향으로 안보이는 콘텐츠가 생기니까 아래쪽에 또 스크롤바가 생겨버리게 됨, 그래서 안쓰는게 좋음 */
    color: white;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
}
header .inner-frame{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 966px;
}
.lnb{
    display: flex;
    gap: 1rem;
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
}
/* gnb a태그에 flex해준 것처럼 lnb도 동일하게 스타일 줘도 됨 */
.gnb{
    display: flex;
    height: 70px;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb li{
    flex: 1;
}
.gnb li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    height: 100vh;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 6rem;
}
.banner h2{
    width: 1600px;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}
.c1 h3{
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.c1 p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.sub-banner{
    height: 441px;
}
.sub-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}