.a {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 10px solid red;
    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    /* transition: 
    width 1s ease 0s,
    height 1s ease 1s,
    background-color 1s ease 2s; */

    transition: all 1s ease 0s;
}
/* 1000ms=1s */
/* -2s면 이미 2초가 지나갔다고 생각하고 해당 시점부터 전환되기 시작함 */
/* 전환 전후 사이의 중간스타일을 수치화시킬 수 있는 속성은 모두 전환속성을 쓸 수 있음, display: block -> flex 와 같은 중간값 계산이 안되는 속성은 전환속성 쓸 수 없음 */
.a:hover{
    width: 600px;
    height: 600px;
    background-color: pink;
    padding-left: 30px;
}
.box{
    background-color: #ddd;
    width: 500px;
    height: 500px;
    padding: 30px;
}
.b{
    background-color: orange;
    height: 200px;
    opacity: 0;
    transition: all 1s ease 0s;
}
.box:hover .b{
    opacity: 1;
}
.c{
    background-color: green;
    height: 200px;
    display: none;
    transition: all 1s ease 0s;
}
.box:hover .c{
    display: block;
}
/* display: none -> block 과 같은 중간값 계산이 안되는 속성은 전환속성 쓸 수 없음 */